// Overrides spree/frontend/variables/variables.scss

// Ruler archetype colors:
// light grey: #4e5e6b
// dark grey: #0a1117
// blue-grey: #20404b
// light blue: #3a757e
// dark red: #7d0c10
$primary-color: #7d0c10;
$secondary-color: #20404b;
$primary-background: #0a1117;
$secondary-background: #3a757e;
$input-background: #0a1117;
$font-color: #ffffff;
$font-family: "Montserrat", sans-serif;
$header-font-color: $font-color;
$header-background: $primary-background;
$meganav-font-color: $font-color;
$meganav-background: $primary-background;
$footer-font-color: $font-color;
$footer-background: $primary-background;
$secondary-font-color: $font-color;
$global-border-style: #7d0c10;
$second-global-border: #3a757e;
$spree-header-max-width: 1440px;
$spree-header-mobile-height: 50px;
$spree-header-tablet-height: 75px;
$spree-header-desktop-height: 75px;

// bootstrap overrides
$grid-gutter-width: 19px;
$body-color: $font-color;
$theme-colors: (
  // standard bootstrap colors
        "primary": $primary-color,
        "secondary": $secondary-color,
        "danger": #f53737,
        "info": #999999,
        "warning": #ffc107,
        "light-secondary": #999999,
        "borders": $second-global-border,
        "dark-borders": $global-border-style,
        "light-background": $primary-background,
        "dark-text": $font-color,
        "overlay": rgba(76, 76, 76, 0.5),
        "shadow": rgba(0, 0, 0, 0.16)
);
$enable-rounded: false;
$enable-shadows: false;
$enable-gradients: false;
$font-family-sans-serif: $font-family;
$font-weight-medium: 500;
.font-weight-medium {
  font-weight: $font-weight-medium;
}
$btn-border-width: 2px;
$modal-dialog-margin: 0;
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);
$container-max-widths: (
        sm: 768px,
        md: 992px,
        lg: 1200px
);

// helper variables
$container-padding: 17px;
$photo-width-to-height-ratio: 30001/ 37500;
$photo-width-to-height-ratio-zoom: 28015 / 37500;
$thumbnails-carousel-single-height: 100% / $photo-width-to-height-ratio;
$thumbnails-carousel-single-height-zoom: 100% /
  $photo-width-to-height-ratio-zoom;
$zoom-height-breakpoint: calc(
        650px / #{$photo-width-to-height-ratio-zoom} + 102px * 2
);
$spree-plp-filter-desktop-position: $spree-header-desktop-height + 77px;
