@import "spree/frontend/variables/variables";

.spree-flat-input {
  color: $font-color;
  transition: basic-transition(border-color);
  padding: 15px;
  width: 100%;
  height: auto;
  border-width: 1px;
  border-style: solid;
  border-color: $second-global-border;
  border-radius: 0;
  outline: none;
  font-size: font-px-to-rem(12px);
  line-height: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  //replaces @include media-breakpoint-up(sm) TODO: find a way to use it
  @media (min-width: 576px) {
    padding: 25px;
    font-size: font-px-to-rem(23px);
  }
  //replaces @include media-breakpoint-up(lg) TODO: find a way to use it
  @media (min-width: 992px) {
    padding: 20px;
    font-size: font-px-to-rem(14px);
  }
  &:focus {
    border-color: theme-color("secondary");
  }
  &::placeholder {
    text-transform: uppercase;
  }
}
