<%# leaving #spree-header div for legacy support  %>
<% cache spree_nav_cache_key('header') do %>
  <div id="spree-header" data-turbolinks-permanent>
    <header id="header" class="d-flex align-items-center header-spree border-bottom">
      <div class="container-fluid h-100 header-spree-fluid">
        <div class="d-flex flex-nowrap align-items-center h-100">
          <figure class="logo flex-grow-0 flex-xl-grow-1 order-xl-0 header-spree-fluid-logo m-0">
            <%= logo %>
            <%# start override %>
            <span class="navbar-title">
              <%= Spree.t 'navbar.title' %>
            </span>
            <%# end override %>
          </figure>
          <div id="top-nav-bar" class="flex-grow-1 header-spree-fluid-secondary-navigation">
            <%= render partial: 'spree/shared/nav_bar' %>
          </div>
        </div>
      </div>
    </header>
  </div>
<% end %>
