<div class="container text-center">
  <h2><%= Spree.t('home_page.soon_on_community') %></h2>
  <div class="row my-2 my-md-4">
    <div class="col-6 offset-md-2 col-md-3">
      <i class="fas fa-3x fa-user"></i>
      <p>
        <%= Spree.t('home_page.explore_profiles') %>
      </p>
    </div>
    <div class="col-6 offset-md-2 col-md-3">
      <i class="fab fa-3x fa-octopus-deploy"></i>
      <p>
        <%= Spree.t('home_page.discover_tentacles') %>
      </p>
    </div>
  </div>
</div>
