<% @body_id = 'home' %>

<div class="homepage-hero-image mb-3 position-relative">
  <img class="lazyload hero-image position-absolute"
    data-src="<%= asset_path('homepage/main_banner.jpg') %>"
    data-srcset="<%= image_source_set('homepage/main_banner') %>"
    alt="Summer Collection">

  <div class="hero-content">
    <%# start override %>
    <div class="homepage-hero-image-text mb-2 mx-auto pb-3 pb-md-4">
      <%= Spree.t('home_page.banner_message') %>
    </div>
    <div>
      <%= link_to Spree.t(:'home_page.discover'), spree.root_path, class: 'btn btn-primary spree-btn px-5' %>
    </div>
    <%# end override %>
  </div>
</div>
